html,
body {
  font-family: Arial, sans-serif;
  background-color: #e7c2ec7e; /* Fondo blanco */
}

.header {
  position: sticky; /* Fija el header en la parte superior de la página */
  top: 0; /* Asegura que esté en la parte superior */
  width: 100%; /* Asegura que el header ocupe todo el ancho de la página */
  display: flex;
  background-color: #6a1b9a; /* Púrpura (color lila) */
  justify-content: space-between;
  align-items: center;
  padding: 2px 5px; /* Reduce el padding superior e inferior */
  margin: 0px;
  flex-wrap: wrap;
  z-index: 1000; /* Asegura que el header esté por encima de otros elementos */
  gap: 10px; /* Ajusta el espacio entre los elementos del header */
}

.container {
  display: flex;
}

.barra {
  display: flex;
  justify-content: right;
}

.header nav {
  display: flex;
  align-items: center;
  flex-wrap: wrap !important;
}

.logo {
  width: 100px;
  border-radius: 50%;
  transition: transform 0.3s ease;
}

.logo:hover {
  transform: rotate(360deg);
  box-shadow: 0 0 20px rgba(211, 158, 255, 0.884);
}

.header nav a {
  color: #fff;
  text-decoration: none;
  margin-right: 20px;
  transition: color 0.3s ease;
  display: flex;
  flex-wrap: wrap;
}

.header nav a:hover {
  color: #ffb74d; /* Cambio de color al pasar el ratón */
}

.header button {
  background-color: #6a1b9a; /* Púrpura (mismo que el fondo del header) */
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  padding: 10px;
  transition: background-color 0.3s ease;
}

.header button:hover {
  background-color: #4a148c; /* Púrpura más oscuro para el hover */
}

.btnRegister {
  padding: 30px;
  margin: 30px;
}

@media (max-width: 568px) {
  .barra.open {
    right: 0;
    top: 75px;
  }

  .barra {
    height: 100%;
    width: 250px;
    background: #6a1b9a; /* Púrpura (mismo que el fondo del header) */
    position: fixed;
    top: 70px;
    right: -250px;
    z-index: 0;
    transition: right 0.3s ease;
  }

  .galeria {
    display: block;
  }
}

@media only screen and (max-width: 600px) {
  .contenido {
    padding: 0 10px; /* Reducir el espacio alrededor del contenido para pantallas pequeñas */
  }

  .header .container {
    width: 100%;
    flex-direction: column; /* Apilar elementos del menú en pantallas pequeñas */
    align-items: center; /* Centrar elementos del menú en pantallas pequeñas */
  }
}

h3 {
  color: #fff;
  margin: 20px;
  padding-left: 20px;
}
