@import "bootstrap-icons/font/bootstrap-icons.css";

@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

.main {
  width: auto;
  height: auto;
}

.title {
  font-size: 36px;
  font-weight: 900; 
  color: #000000; 
  margin: 20px 0;
  text-align: center;
  font-family: 'Bangers', cursive; 
  letter-spacing: 3px; 
  text-transform: uppercase; 
  text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.4); 
}


.subtitle {
  font-size: 28px;
  font-weight: 400; 
  color: #000000; 
  margin: 12px 0;
  text-align: center;
  font-family: 'Russo One', sans-serif; 
  letter-spacing: 2px; 
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.61); 
}

.homepage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: radial-gradient(circle at center, #8a2be2, #4b0082, #2e0854);
  color: white;
  padding: 20px;
  overflow: hidden;
}

.homepageHeader {
  text-align: center;
  padding: 30px;
  border-radius: 25px;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(10px);
  transform: scale(1);
  transition: transform 0.3s ease-in-out;
}

.homepageHeader:hover {
  transform: scale(1.05);
}

.homepageLogo {
  max-width: 180px;
  margin-bottom: 25px;
  border-radius: 50%;
  border: 4px solid white;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.5);
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.homepageLogo:hover {
  transform: scale(1.15);
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.7);
}

.homepageTitle {
  font-size: 4.5rem;
  color: #ffffff;
  font-family: 'Lobster', cursive;  
  text-shadow: 4px 4px 10px rgba(0, 0, 0, 0.6);
  letter-spacing: 2px;
  transition: text-shadow 0.3s ease-in-out;
}

.homepageTitle:hover {
  text-shadow: 6px 6px 15px rgba(0, 0, 0, 0.8);
}

@media (max-width: 768px) {
  .homepageTitle {
    font-size: 3rem;
  }

  .homepageLogo {
    max-width: 140px;
  }
}

.homepageButtons {
  margin-top: 1rem;
}

.homepageBtnRegister,
.homepageBtnLogin {
  background-color: #9b59b6; 
  color: white;
  border: none;
  padding: 12px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  margin: 8px 4px;
  cursor: pointer;
  border-radius: 8px; 
  transition: background-color 0.3s, transform 0.2s; 
}

.homepageBtnRegister:hover,
.homepageBtnLogin:hover {
  background-color: #8e44ad; 
  transform: scale(1.05); 
}

.homepageModal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.homepageModalContent {
  background: white;
  padding: 20px;
  border-radius: 8px;
  width: 90%;
  max-width: 400px;
  position: relative;
}

.homepageCloseButton {
  position: absolute;
  top: 10px;
  right: 10px;
  background: transparent;
  border: none;
  font-size: 24px;
  cursor: pointer;
}