@tailwind base;
@tailwind components;
@tailwind utilities;


.product-container {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  overflow-x: auto;
  width: 100%;
  scrollbar-color: #000 #000;
  padding: 10px 0;
}

