.cartContainer {
    padding: 20px;
    background-color: #2c2c2c; /* Negro */
    border-radius: 50px 0 50px 0; /* Bordes curvos y únicos */
    box-shadow: 0 8px 20px rgba(122, 72, 221, 0.3); /* Sombra lila */
    max-width: 650px;
    margin: auto;
    font-family: 'Poppins', sans-serif; /* Tipografía llamativa */
    position: relative;
    overflow: hidden;
  }
  
  .cartContainer::before {
    content: '';
    position: absolute;
    top: -60px;
    right: -60px;
    width: 200px;
    height: 200px;
    background-color: #ab47bc; /* Lila medio */
    border-radius: 50%;
    opacity: 0.2;
  }
  
  .title {
    font-size: 2em;
    color: #d1c4e9; /* Lila claro */
    text-align: center;
    margin-bottom: 30px;
    text-transform: uppercase;
    letter-spacing: 2px;
  }
  
  .emptyMessage {
    font-size: 1.5em;
    color: #b39ddb; /* Lila medio */
    text-align: center;
    margin-top: 20px;
    font-style: italic;
  }
  
  .productTarget {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(145deg, #4a148c, #2c2c2c); /* Degradado de lila a negro */
    border-radius: 20px 0 20px 0; /* Formas más orgánicas */
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 5px 15px rgba(122, 72, 221, 0.3); /* Sombra suave */
  }
  
  .productTarget img {
    max-width: 120px;
    border-radius: 20px;
    margin-bottom: 15px;
    box-shadow: 0 2px 10px rgba(122, 72, 221, 0.3); /* Sombra en la imagen */
  }
  
  .productTarget h3 {
    color: #d1c4e9; /* Lila claro */
    margin: 5px 0;
    text-transform: uppercase;
    font-weight: 600;
  }
  
  .productTarget p {
    color: #b39ddb; /* Lila medio */
    margin: 5px 0;
    font-size: 1em;
  }
  
  .removeButton {
    background-color: #8e24aa; /* Lila fuerte */
    color: white;
    border: none;
    border-radius: 20px;
    padding: 10px 15px;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-top: 15px;
    transform: scale(1);
  }
  
  .removeButton:hover {
    background-color: #7b1fa2; /* Lila oscuro */
    transform: scale(1.05); /* Efecto de zoom al pasar el ratón */
  }
  
  .clearButton {
    background-color: #ab47bc; /* Lila medio */
    color: white;
    border: none;
    border-radius: 25px;
    padding: 15px;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-top: 30px;
    width: 100%;
    transform: scale(1);
  }
  
  .clearButton:hover {
    background-color: #9c27b0; /* Lila fuerte */
    transform: scale(1.05); /* Efecto de zoom al pasar el ratón */
  }
  