h1 {
  background-color: #f6f2f7a6;
  color: #000000;
  padding: 20px;
  z-index: 1;
  text-align: center;
  margin: 10px 0px;
}

.category {
  color: #353535;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.description {
  height: 60px;
  scrollbar-color: transparent transparent;
  overflow-y: auto;
  text-align: center;
}

.productCard {
  display: flex;
  background-color: #ffffff;
  flex-direction: column;
  width: 200px;
  min-width: 300px;
  height: 500px;
  margin: 8px;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  color: #333;
  transition: all 0.3s;
  position: relative;
}

.productCard:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  transform: scale(1.02);
}

.productImage {
  width: 100px;
  height: 100px;
  border-radius: 8px;
  margin-bottom: 16px;
  margin-top: 10px;
}

.productData {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 16px;
  overflow-x: hidden;
}

.productData h3 {
  font-size: 14px;
  margin-bottom: 12px;
  color: #000;
  text-align: center;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0 !important;
}

.productData p {
  font-size: 16px;
  color: #666;
  margin-bottom: 20px;
}

.productNumbers {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
}

.price {
  font-size: 24px;
  font-weight: bold;
  margin-left: 10px;
}

.priceBefore {
  font-size: small;
  color: #666;
  text-decoration: line-through;
}

.rating {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 8px;
  background-color: #ba68c8;
  color: white;
  margin-right: 10px;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.btnComprar {
  background-color: #ba68c8;
  color: #000000;
  border: none;
  border-radius: 4px;
  padding: 8px 16px;
  font-size: 14px;
  cursor: pointer;
  margin-bottom: 20px;
  position: absolute;
  bottom: -7px;
  left: 20px;
  right: 20px;
}

.btnComprar:hover {
  color: #fff;
  background-color: #9c27b0;
}

.titleProducts {
  text-align: center;
}

.productListContainer {
  padding: 1.5rem;
  background-color: #f3e5f5;
  border-radius: 8px;
}

.productContainer {
  border: 2px solid #9575cd;
  background-color: #ede7f6;
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 6px;
  transition: box-shadow 0.3s ease;
}

.productContainer:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.productContainer h2 {
  font-size: 1.5rem;
  color: #6a1b9a;
  margin: 0 0 10px 0;
}

.productContainer p {
  color: #512da8;
  margin: 0.5rem 0;
}

.addToCartButton {
  background-color: #7e57c2;
  color: #ffffff;
  border: none;
  padding: 0.75rem 1.5rem;
  cursor: pointer;
  border-radius: 6px;
  transition: background-color 0.3s ease;
}

.addToCartButton:hover {
  background-color: #5e35b1;
}

@media (max-width: 568px) {
  .barra.open {
    right: 0;
    top: 75px;
  }

  .barra {
    height: 100%;
    width: 250px;
    background: #ba68c8;
    position: fixed;
    top: 70px;
    right: -250px;
    z-index: 0;
    transition: right 0.3s ease;
  }

  .galeria {
    display: block;
  }
}

@media (max-width: 749px) {
  .contenido {
  }

  .header .container {
    flex-direction: column;
    align-items: center;
  }
}

.class-menu-btn {
  position: relative;
}
