h1 {
    background-color: #ba68c8;
    color: #000000;
    padding: 20px;
    border: 2px solid #6a1b9a;
    width: 94.7%;
    z-index: 1;
    align-items: center;
    text-align: center;
  }
  
  .category {
    color: #353535;
    display: flex;
    flex-direction: column;
  }
  .description{
   height: 60px;
   scrollbar-color: transparent transparent;
   overflow-y: auto;
  }
  .product-container {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    overflow-x: scroll;
    width: 100%;
    /* scrollbar-color: #000 #000; */
  }
  
  .product-card {
    display: flex;
    background-color: #ffffff;
    flex-direction: column;
    width: 200px;
    min-width: 200px;
    height: 500px;
    margin: 8px;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    color: #333;
    transition: all 0.3s;
    margin: 10px;
    margin-bottom: 40px;
    position: relative;

  }
  
  .product-card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    transform: scale(1.02);
  }
  
  .product-image {
    width: auto;
    max-width: auto;
    height: 100px;
    max-width: 100px;
    border-radius: 8px;
    margin-bottom: 16px;
    margin-top: 10px;
  }
  
  .product-data {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 16px;
    overflow-x: hidden;
  }
  
  .product-data h3 {
    font-size: 14px;
    margin-bottom: 12px;
    color: #000;
    display: -webkit-box;
    -webkit-line-clamp: 5;  
    -webkit-box-orient: vertical;  
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0 !important;
  }
  
  .product-data p {
    font-size: 16px;
    color: #666;
    margin-bottom: 20px;
  }
  
  .product-numbers {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px;
  }
  
  .price {
    font-size: 24px;
    font-weight: bold;
    margin-left: 10px;
  }
  
  .price-before {
    font-size: small;
    color: #666;
    text-decoration: line-through;
  }
  
  .rating {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 8px;
    background-color: #ba68c8;
    color: white;
    margin-right: 10px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
  }

  .btn-comprar {
    background-color: #ba68c8;
    color: #000000;
    border: none;
    border-radius: 4px;
    padding: 8px 16px;
    font-size: 14px;
    cursor: pointer;
    margin-bottom: 20px ;
    position: absolute;
    bottom: -7px;
    left: 20px;
    right: 20px;
  }
  
  .btn-comprar:hover {
    color: #fff;
    background-color: #9c27b0;
  }
  .product-image {
    width: 100px;
    height: 100px;
  }
  .description{
    text-align: center;
  }
.title_products{
  text-align: center;
}


/* @media (max-width: 568px) {
    .barra.open {
        right: 0;
        top: 75px;
    }

    .barra {
        height: 100%;
        width: 250px;
        background: #ba68c8; 
        position: fixed;
        top: 70px;
        right: -250px;
        z-index: 0;
        transition: right 0.3s ease;
    }

    .galeria {
        display: block;
    }
}

@media (max-width: 749px) {
    .contenido {
        
    }

    .header .container {
        flex-direction: column;
        align-items: center;
    }
}
.class-menu-btn{
    position:   relative;
}  */