.slider {
  position: relative;
  width: 80%;
  max-width: 800px;
  margin: auto;
  overflow: hidden;
  border-radius: 10px;
}

.slider-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider-content img {
  width: 100%;
  border-radius: 10px;
  aspect-ratio: 1.8/1;
}

.slider-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  z-index: 1;
}

.slider-button.prev {
  left: 10px;
}

.slider-button.next {
  right: 10px;
}
